<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test" parallel="none" allow-return-values="true">
    <test name="LoginTest"  preserve-order="false">
        <classes>
            <class name="test.LoginTest" />
        </classes>
    </test>
    <test name="SystemInfoPagesValidation"  preserve-order="false">
        <classes>
            <class name="test.system.info.UserSessionTest" />
            <class name="test.system.info.BadgesAdministrationPageTest" />
            <class name="test.system.info.EHCacheStatePageTest" />
            <class name="test.system.info.JavaSystemPropertiesPageTest" />
            <class name="test.system.info.LogLevelsConfigurationPageTest" />
            <class name="test.system.info.OfficePlansAdministrationTest" />
            <class name="test.system.info.RMSDBconsistencyPageTest" />
            <class name="test.system.info.RMSnotificationPageTest" />
            <class name="test.system.info.RMSsettingsPageTest" />
            <class name="test.system.info.SystemEnvironmentTest" />
            <class name="test.system.info.TTSsynchronizationPageTest" />
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
